name: Build and Test on Linux
on:
  push:
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

jobs:
  test-project-on-linux:
    name: Run CTest
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y curl linux-modules-extra-$(uname -r)

      - name: Install HyCAN .deb
        run: |
          curl -L -o hycan-0.8.3-Linux.deb https://github.com/RoboMaster-DLMU-CONE/HyCAN/releases/download/v0.8.3/hycan-0.8.3-Linux.deb
          sudo apt-get install -y ./hycan-0.8.3-Linux.deb || (sudo dpkg -i hycan-0.8.3-Linux.deb && sudo apt-get install -f -y)

      - name: Load CAN Module
        run: |
          sudo modprobe vcan
          sudo modprobe can

      - name: Setup cmake
        uses: lukka/get-cmake@latest

      - name: Build Project
        run: |
          cmake -S . -B build -G Ninja -DBUILD_OM_EXAMPLE=ON -DBUILD_OM_TEST=ON
          cmake --build build

      - name: Test Project
        run: |
          cd build
          sudo ctest --output-on-failure